POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=islamicai
POSTGRES_USER=islamicai
POSTGRES_PASSWORD=change_me
REDIS_PORT=6379
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=change_me_too
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
QDRANT_PORT=6333
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687
BACKEND_PORT=8000
